div(class="row footer")
    div(class="col-md-2")
    div(class="col-md-2")
        h6 Follow us on
        a(href="#")
            img(src="images/fb.png" height="40" width="40")
        a(href="#")
            img(src="images/insta.png" height="40" width="50")
        a(href="#")
            img(src="images/twitter.png" height="35" width="35")
    div(class="col-md-2")
        h6 Assistance
        a(href="#")
            p Customer service
        a(href="#")
            p FAQ
    div(class="col-md-2")
        h6 Information
        a(href="#")
            p About us
        a(href="#")
            p Terms and conditions
        a(href="#")
            p Privacy policy
    div(class="col-md-2")
        h6 Get connected with us
        form
            div(class="input-group")
                input(type="text" class="form-control" placeholder="Enter your email here" style="margin:0px")
                div(class="input-group-btn")
                    button(class="btn btn-default" type="submit") Subscribe




