div(class="row footer")
    table(class="table table-borderless")
        thead
            tr
                th Follow us on
                th Assistance
                th Information
                th Get connected with us
        tbody
            tr
                td
                    a(href="#")
                        img(src="images/fb.png" height="50" width="50")
                    a(href="#")
                        img(src="images/insta.png" height="50" width="70")
                    a(href="#")
                        img(src="images/twitter.png" height="45" width="45")
                td
                    a(href="/") Customer service
                td
                    a(href="/") About us
            tr
                td
                td
                    a(href="/") FAQ
                td
                    a(href="/") Terms and conditions
            tr
                td
                td
                td
                    a(href="/") Privacy policy
            tr
                td


