extends layouts/layout

block main
  include includes/navbar
  include includes/search
  +search("background-color: #17A589")
  div(class="container-fluid")
    div(class="row")
      img(src="images/Haircuts-Hairstyles.jpg" class="img-fluid walpaper-img" alt="Responsive image")
      button(type="submit" class="btn-lg btn-info walpaper-button1") I am a stylist/ educator
      button(type="submit" class="btn-lg btn-info walpaper-button2") I am a salon owner

    div(class="row info-bar")
        div(class="col")
        div(class="col info-b")
          img(src="images/Search.jpg" class="img-fluid rounded-circle info-img")
          h3 Find 1000+
          h3 Stylist/ educators and salons
        div(class="col info-b")
          img(src="images/dollar.png" class="img-fluid rounded-circle info-img")
        div(class="col info-b")
          img(src="images/heart.jpg" class="img-fluid rounded-circle info-img")
        div(class="col")

    div(class="row heading")
      h2 TOP RATED HAIR STYLISTS

    div(class="row")
      div(class="col")
        img(src="images/prev.png" class="prevbtn")
      div(class="col")
        include includes/topRatedStylistView
        +topRated(0)
      div(class="col")
        include includes/topRatedStylistView
        +topRated(1)
      div(class="col")
        include includes/topRatedStylistView
        +topRated(2)
      div(class="col")
        img(src="images/next.png" class="nextbtn")


    //div(class="row heading")
      //h2 TOP RATED EDUCATORS

    //div(class="row")
       div(class="col")
          img(src="images/prev.png" class="prevbtn")
       div(class="col")
          include includes/topRatedStylistView
       div(class="col")
          include includes/topRatedStylistView
       div(class="col")
          include includes/topRatedStylistView
       div(class="col")
          img(src="images/next.png" class="nextbtn")

    include includes/footer




