extends layouts/layout

block main
  include includes/navbar2
  include includes/search
  +search()
  div(class="container-fluid")
    div(class="row")
      img(src="images/2.jpg" class="img-fluid walpaper-img")
      h1(style="position:absolute; margin:7%; margin-left:10%; color:black; font-weight:bold; font-size:4vw") Find Stylists & Educators
      h1(style="position:absolute; margin:15%; margin-left:10%; color:black; font-weight:bold; font-size:2vw") Register to the system & explore more features
      h1(style="position:absolute; margin:17%; margin-left:20%; color:black; font-weight:bold; font-size:2vw") It only take few seconds...
      //h1(style="position:absolute; margin:22%; margin-left:20%; color:black; font-weight:bold; font-size:1vw; background:white; padding:10px") Im a stylist/ educator
      //h1(style="position:absolute; margin:22%; margin-left:35%; color:black; font-weight:bold; font-size:1vw; background:white; padding:10px; padding-left:5px") Im a salon owner

    div(class="container-fluid")
      div(class="row" style="margin-top:100px")
        div(class="col")
          div(class="wrap")
            div(class="ico-wrap")
              span(class="mbr-iconfont fa-search fa")
            div(class="text-wrap vcenter")
              h2(class="mbr-fonts-style mbr-bold mbr-section-title3 display-5") 1000+ Stylists and Educators
              p(class="mbr-fonts-style text1 mbr-text display-6") We provide best salons around you

        div(class="col")
          div(class="wrap")
            div(class="ico-wrap")
              span(class="mbr-iconfont fa-credit-card fa")
            div(class="text-wrap vcenter")
              h2(class="mbr-fonts-style mbr-bold mbr-section-title3 display-5") We provide best rates
              p(class="mbr-fonts-style text1 mbr-text display-6") Registration is free, No travelling costs

        div(class="col")
          div(class="wrap")
            div(class="ico-wrap")
              span(class="mbr-iconfont fa-heart fa")
            div(class="text-wrap vcenter")
              h2(class="mbr-fonts-style mbr-bold mbr-section-title3 display-5") Salons Love Us
              p(class="mbr-fonts-style text1 mbr-text display-6") 1000+ Ratings, 1000+ Daily Visitors




    div(class="row")
      div(class="col-md-1")
      div(class="col-md-10 heading")
        h2 TOP RATED HAIR STYLISTS

    div(class="row" style="margin-top:100px")
      div(class="col-md-1")
      div(class="col-md-2 crd-margin")
        include includes/topRatedStylistView
        +topRated(0)
      div(class="col-md-2 crd-margin")
        include includes/topRatedStylistView
        +topRated(1)
      div(class="col-md-2 crd-margin")
        include includes/topRatedStylistView
        +topRated(2)
      div(class="col-md-2 crd-margin")
        include includes/topRatedStylistView
        +topRated(3)


    div(class="row")
      div(class="col-md-1")
      div(class="col-md-2")
      div(class="col-md-3 faq faqback")
          div(class="ico-wrap")
            img(src="images/question.png" width=400 height=400)
      div(class="col-md-3 faq faqback")
        div(style="margin-top:20%")
          h2(style="font-weight:bold; padding:30px") If you have any question
          span(style="font-weight:bold") Ask from our
          a(href="#" style="font-weight:bold")
            span customer services
          p
          span(style="font-weight:bold") or search for
          a(href="#" style="font-weight:bold")
            span FAQs


    include includes/footer




