extends layouts/layout
block main
    include includes/navbar2
    //include includes/search
    //+search("background-color: ")
    div(class="container-fluid")
        div(class="row")
            div(class="col-sm-1")
            div(class="col-sm-3 ")
                form(action="/advsearch" method="post")
                    div(class="primarysearch")
                        div(class="form-group")
                            label I'm looking for
                            select(class="form-control" name="type")
                                option a stylist
                                option an educator
                                option both
                        div(class="form-group")
                            label in city
                            select(class="form-control" name="city1")
                                option Los Angeles
                                option Orlando
                                option Seattle
                                option Raleigh
                                option Miami
                                option Rochester
                        div(class="form-group")
                            label from
                            input(class="form-control" type="date" style="margin-right:0" name="date1")
                            img(src="images/datepicker.png" width="40" height="40" alt="" class="icon" style="margin-right:20px")
                    div(class="advancedSearch")
                        p(class="refine") Refine Your Search
                        hr
                        p Ratings
                        div(class="form-check")
                            input(class="form-check-input" type="radio" name="s_rate" value=4)
                            span(class="fa fa-star checked")
                            span(class="fa fa-star checked")
                            span(class="fa fa-star checked")
                            span(class="fa fa-star checked")
                            span(class="fa fa-star checked")
                            span(style="font-size:0.8em")  (Top rated)
                            p
                        div(class="form-check")
                            input(class="form-check-input" type="radio" name="s_rate" value=0 checked)
                            span(class="fa fa-star checked")
                            span(class="fa fa-star checked")
                            span(class="fa fa-star checked")
                            span(class="fa fa-star")
                            span(class="fa fa-star")
                            span(style="font-size:0.8em")  (Any)

                        hr
                        p Gender
                        div(class="form-check form-check-inline")
                            input(class="form-check-input" type="radio" name="gen" id="Male" value="Male")
                            span Male
                        div(class="form-check form-check-inline")
                            input(class="form-check-input" type="radio" name="gen" id="Female" value="Female")
                            span Female
                        div(class="form-check form-check-inline")
                            input(class="form-check-input" type="radio" name="gen" id="Any" value="Any" checked)
                            span Any

                        hr
                        p Max price per session
                        div(class="col-xs-2")
                            label Day sessions (8 am to 4 pm)
                            input(class="form-control" type="number" name="frompriceday" value="0" style="width:100px")
                            input(class="form-control" type="number" name="topriceday" value="1000" style="width:100px")
                        div(class="col-xs-2")
                            p
                            label Evening sessions (4 pm to 12 am)
                            input(class="form-control" type="number" name="frompriceevening" value="0" style="width:100px")
                            input(class="form-control" type="number" name="topriceevening" value="1000" style="width:100px")

                        hr
                        p Sort by
                        div(class="form-check form-check-inline")
                            input(class="form-check-input" type="radio" name="sort"  value="rating" checked)
                            span Rating
                        div(class="form-check form-check-inline")
                            input(class="form-check-input" type="radio" name="sort" value="dayPrice")
                            span Day price

                        p
                        div(class="form-group")
                            button(class="form-control search-button" type="submit") Search




            div(class="col-sm-7 results")
                h2(style="padding:20px") Search results
                div(class="row")
                    - var n = 0;
                    while n < len
                        div(class="col-sm-4" style="margin-bottom:15px")
                            include includes/searchResultView
                            +searchResult(n)
                            span(style="display: none")= n++



    include includes/footer
