extends layouts/layout
block main
    include includes/navbar
    include includes/search
    +search("background-color: ")
    div(class="container-fluid")
        div(class="row")
            div(class="col-sm-1")
            div(class="col-sm-3 advancedSearch")
                p(class="refine") Refine Your Search
                hr
                form(action="/search" method="post")
                    p Ratings
                    div(class="form-group row advancedSearch2")
                        input(type="checkbox" class="form-check-input" value="")
                        span(class="fa fa-star checked")
                        span(class="fa fa-star ")
                        span(class="fa fa-star ")
                        span(class="fa fa-star ")
                        span(class="fa fa-star ")
                    div(class="form-group row advancedSearch2")
                        input(type="checkbox" class="form-check-input" value="")
                        span(class="fa fa-star checked")
                        span(class="fa fa-star checked")
                        span(class="fa fa-star ")
                        span(class="fa fa-star ")
                        span(class="fa fa-star")
                    div(class="form-group row advancedSearch2")
                        input(type="checkbox" class="form-check-input" value="")
                        span(class="fa fa-star checked")
                        span(class="fa fa-star checked")
                        span(class="fa fa-star checked")
                        span(class="fa fa-star ")
                        span(class="fa fa-star ")
                    div(class="form-group row advancedSearch2")
                        input(type="checkbox" class="form-check-input" value="")
                        span(class="fa fa-star checked")
                        span(class="fa fa-star checked")
                        span(class="fa fa-star checked")
                        span(class="fa fa-star checked")
                        span(class="fa fa-star ")
                    div(class="form-group row advancedSearch2")
                        input(type="checkbox" class="form-check-input" value="")
                        span(class="fa fa-star checked")
                        span(class="fa fa-star checked")
                        span(class="fa fa-star checked")
                        span(class="fa fa-star checked")
                        span(class="fa fa-star checked")

                    hr
                    p Time
                    div(class="form-group row advancedSearch2")
                        input(type="checkbox" class="form-check-input" value="")
                        span From 8 am to 12 pm
                    div(class="form-group row advancedSearch2")
                        input(type="checkbox" class="form-check-input" value="")
                        span From 12 pm to 4 pm
                    div(class="form-group row advancedSearch2")
                        input(type="checkbox" class="form-check-input" value="")
                        span From 4 pm to 8 pm
                    div(class="form-group row advancedSearch2")
                        input(type="checkbox" class="form-check-input" value="")
                        span From 8 pm to 12 am

                    hr
                    p Gender
                    div(class="form-check form-check-inline")
                        input(class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked)
                        span Male
                    div(class="form-check form-check-inline")
                        input(class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked)
                        span Female
                    div(class="form-check form-check-inline")
                        input(class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked)
                        span Any

            div(class="col-sm-6 searchResults")
                h2 Search results


